<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="bg-dark">
        <div class="col-100" >
        <h1 class="color-white"><%= title %></h1>
        </div>
    </header>
    <selection>
        <div class="col-30 bg-grey float-left center">
            <form class="" action="/add" method="post">
                <legend style="text-align: center">Incluir novo user</legend>
                <input class="padding-top" type="text" name="nome_cliente" placeholder="Nome do Cliente">
                <input lass="padding-top" type="text" name="email" placeholder="E-mail">
                <div class="center padding-top-2" style="width: 100%">
                <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
        <div class="col-70 float-left">
           <table>
                <tbody>
                <% for(var i=0; i < tasks.length; i++){%>
                    <tr>
                        <td><%= i + 1%> <strong><%= tasks[i].nome_cliente%></strong></td>
                        <td class="actions">
                            <a href="/turn/<%= tasks[i]._id%>" class="<%= tasks[i].status ? 'color-green' : 'color-red'%>  action">
                             <%= tasks[i].status ? 'Ativado' : 'Desativado'%>
                            </a>
                        </td>
                        <td class="highlight"><%= tasks[i].email%></td>
                    </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </selection>
  </body>
</html>
